.App {
  text-align: center;
  width: 100vw;
  overflow-x: hidden;
}
header{
  background-color: #f12711;
  width: 100%;
  color: #ffff;
  display: flex;
  padding-left: 50px;
  align-items: center;
}
header img{
  width: 50px;
}
header h1{
  transform: translateY(-5px);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
