@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body,html {
  margin: 0;
 width: 100vw;
 min-height: 100vh;
 overflow-x: hidden;
 background-color: rgb(194, 194, 194);

 font-family: 'Noto Sans JP', sans-serif;
}
*{
  padding: 0;
  margin: 0;
}